<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="The project's test suite">
      <directory>./creation/abstract-factory/products</directory>
      <directory>./creation/builder</directory>
    </testsuite>
  </testsuites>
</phpunit>
