<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="The project's test suite">
      <directory>./solid/tests</directory>
      <directory>./design-patterns/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
